.dropbtn {
    border:none;
    cursor: pointer;
    width: 1.3rem;
    height: auto;
    padding: 2px;
    text-align: center;
    background: url("/SistemaCargaProyectos/svg/square-caret-down-solid.svg") no-repeat scroll;
    background-size: 1rem;
    background-position: 50% 50%;
    position:relative;
    top:1.5px;
  }
  
  .dropbtn:hover, .dropbtn:focus {
 
  }
  
  .dropdown {
    position: relative;
    padding: 0;
    margin: 0;
  }
  
  .dropdown-content {
    width: fit-content;
    display: none;
    position: absolute;
    text-align: center;
    background-color: #dee1e6;
    box-shadow: 0px 1px 2px 2px rgba(0,0,0,0.3);
    z-index: 10;
    left: 105%;
    top:0%;
  }
  
  .show {display: block;}
  
  
  
  
  
  .dropdown-content{
      text-align: left;
  }
  
  
  .dropdown-content input{
      border: none;
      width: 100%;
      text-align: left;
      padding: 10px 20px 10px 30px; 
      font-size: 15px;
      background-position: 5% 50%;
      color: #555;
  }
  
  


.btn_eliminar{
      background: url("/SistemaCargaProyectos/svg/FX13_trashcan.svg") no-repeat scroll;
      background-size: 14px;
      filter: brightness(100%) saturate(400%);
  }
  
.btn_eliminar:hover{
      cursor: pointer;
      color: #000;
      filter: brightness(100%) saturate(800%);
      box-shadow: 0px 0px 10rem 10rem rgba(0,0,0,0.15) inset;
  }
  
